*.tsv
*.db
*.gz
*.csv
*.html
!Procambarus clarkiiBelgium.html
!Muntiacus reevesiBelgium.html
!Threskiornis aethiopicusBelgium.html
!Impatiens glanduliferaBelgium.html
!Pueraria montanaBelgium.html
*.dot
interactias-checkpoint.ipynb
apicache-py3/
